<h1 class="header"><div class="status"><div></div></div><%=server.hostname%></h1>
<dl class="properties">
  <dt>Uptime</dt>
  <dd class="uptime"></dd>
  <dt>Monit ID</dt>
  <dd class="monit_id"><%=server.id%></dd>
  <dt>Kernel</dt>
  <dd class="monit_id"><%=server.platform.name%> <%=server.platform.release%></dd>
</dl>
<%
for (var i in server.service) {
	var service = server.service[i];
%>
<div class="service <%=service.status == 0 ? "ok" : "notok" %>" data-name="<%=service.name%>">
  <div class="title">
	<div class="arrow"></div>
	<span class="type">Service</span>
	<span class="name"><%=service.type == 5 ? 'System' : service.name %></span>
  </div>
<% if (service.type == 3) { %>
  <div class="body" style="display: none">
	<div class="upstats"></div>
	<p>test</p>
	<p>test</p>
	<p>test</p>
	<p>test</p>
	<p>test</p>
  </div>
<% } else if (service.type == 5) { %>
  <div class="body system" style="display: none">
	<div class="cpustats">
	  <h1>CPU (<%=server.platform.cpu%> core<%=server.platform.cpu==1 ? "" : "s"%>)</h1>
	  <div class="cpugraph"></div>
	</div>
	<div class="memstats">
	  <h1>Physical Memory</h1>
	  <div class="memgraph"></div>
	  <h1>Swap Memory</h1>
	  <div class="swapgraph"></div>
	</div>
	<div class="clear"></div>
  </div>
<% } else { %>
  <div class="body" style="display: none">
	<p>Error: Service type not yet supported.</p>
  </div>
<% } %>
</div>
<% } %>
<% console.log(server); %>
